/* bgColor*/
.bg-white-1 {
  background-color: #fcf9f2;
}
.bg-green-1 {
  background-color: #42656a;
}
.bg-green-2 {
  background-color: #557d83;
}
.bg-grey-1 {
  background-color: #d3cfc4;
}
.bg-green-3 {
  background-color: #dbfaff;
}
.bg-green-4 {
  background-color: #7dafb6;
}
/* bgColor*/

/* color */
.c-white {
  color: #fff;
}
.c-white-2 {
  color: #f8feff;
}
.c-grey-1 {
  color: #414a53;
}

.c-green-1 {
  color: #74aab2;
}
.c-green-2 {
  color: #557d83;
}
.c-green-3 {
  color: #42656a;
}
/* color */

/* global style*/
.pointer {
  cursor: pointer;
}
/* global style*/

/* start navbar */
.circle-navbar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.h64 {
  height: 64px;
}

.h98 {
  height: 98px;
}

.size_logo_center {
  width: 116px;
  height: 146px;
}

.input-search {
  outline: none !important;
}
.input-search:focus {
  box-shadow: none !important;
}

.border-search {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 3px 10px;
}

.border-nav {
  border-bottom: 1px solid #ccc;
}

.menu-item {
  position: relative;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  width: 90px;
  text-align: start;
}

.item-text {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease;
}

.original {
  transform: translateY(0);
}

.hover {
  transform: translateY(100%);
}

.menu-item:hover .original {
  transform: translateY(-100%);
  color: #414a53 !important;
}

.menu-item:hover .hover {
  transform: translateY(0);
  color: #74aab2 !important;
}

.icon-rotate {
  transform: rotate(180deg);
  transition: 2.5s;
}

#eng {
  position: relative;
}
.menu-list-eng {
  height: 110px;
  width: 90px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 40px;
  border-radius: 2px;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
  display: none;
}
.flag-hover-tur {
  cursor: pointer;
}
.flag-hover-deu {
  cursor: pointer;
}
.flag-hover-eng {
  cursor: pointer;
}
.flag-hover-tur:hover {
  background-color: #74aab2;
  color: #fff;
}
.flag-hover-deu:hover {
  background-color: #74aab2;
  color: #fff;
}
.flag-hover-eng:hover {
  background-color: #74aab2;
  color: #fff;
}
.show-dropdown {
  display: block !important;
}
#profile {
  position: relative;
}
.menu-list-profile {
  height: 110px;
  width: 100px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 70px;
  border-radius: 2px;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
  display: none;
}
.profile-hover {
  transition: width 2s linear 1s;
}
.orders-hover {
  transition: width 2s linear 1s;
}
.likes-hover {
  transition: width 2s linear 1s;
}
.exit-hover {
  transition: width 2s linear 1s;
}
.profile-hover:hover {
  background-color: #74aab2;
  color: #fff;
}
.orders-hover:hover {
  background-color: #74aab2;
  color: #fff;
}
.likes-hover:hover {
  background-color: #74aab2;
  color: #fff;
}
.exit-hover:hover {
  background-color: #74aab2;
  color: #fff;
}
.menu-bar {
  position: relative;
  width: 40px;
}
.menu-bar-hamberger {
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: -1px;
  width: 200px;
  border-radius: 3px;
  display: none;
  z-index: 100;
}
.menu-login:hover {
  background-color: #74aab2;
  color: #fff;
  border-radius: 5px;
}
.menu-service:hover {
  background-color: #74aab2;
  color: #fff;
  border-radius: 5px;
}
/* end navbar */

/* start banner */
.img-45 {
  height: 470px !important;
}
.img-49 {
  height: 198px !important;
}
.img-46 {
  height: 411px !important;
}
.img-44 {
  height: 255px !important;
}
.container-image {
  height: 100px;
  padding: 10px 0px;
  scrollbar-width: none;
}
.main-image {
  height: 300px !important;
  width: 100% !important;
}
.img-slider-mobile {
  width: 60px !important;
  height: 60px !important;
}
.active {
  opacity: 0.5;
}
/* End banner */

/* start cart*/
.h100 {
  height: 100px;
}
.title-h {
  height: 18px;
  overflow: hidden;
}
/* end cart*/

/* Start Description*/
.rectangle {
  width: 8px;
  height: 8px;
  background-color: #69969d;
  transform: rotate(45deg);
}
.line {
  height: 100%;
  width: 2px;
  background-color: #69969d;
  margin-left: 0.5px;
}
.img-timeline {
  width: 95%;
  height: 200px;
}
.min-h300 {
  min-height: 300px;
}
.min-h600 {
  min-height: 500px !important;
}
.mt-12 {
  margin-top: -12px;
}
.custom-alert {
  height: 60px;
  position: relative;
  overflow: hidden;
}
.custom-alert::before {
  content: "";
  height: inherit;
  width: 5px;
  background-color: #7dafb6;
  position: absolute;
  left: 0;
}
.icon-fly {
  height: 30px;
  width: 30px;
  text-align: center;
  color: #f8feff;
}
.text-alert {
  font-size: 15px;
  font-weight: bold;
}
/* End Description*/

/* start accordion */
.accordion-custom {
  height: 50px;
  background-color: #e8e4db;
  border-radius: 5px;
  padding: 5px 10px;
}
.main-accordion {
  background-color: #f8feff;
  border-radius: 5px;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: none;
  transition: 0.2 ease-in-out;
}
.main-accordion::after {
  content: " ";
  height: 100px;
  width: 3px;
  background-color: #7dafb6;
  position: absolute;
  right: 0;
  top: 0;
}
.show {
  display: block;
}

/* end accordion */

/* start footer */
.logo-footer {
  width: 80px;
}
.img-footer {
  width: 20px;
  height: 20px;
}
.search-footer {
  border: 1px solid #ccc !important;
  border-radius: 5px;
}
/* end footer */

/* start font Size */

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}
.fs20 {
  font-size: 20px;
}
.fs25 {
  font-size: 25px;
}

/* end font Size */

/*start media min-width */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* end media min-width */

/* start media max-width */
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .min-h600 {
    min-height: 680px !important;
  }
  .text-alert {
    font-size: 12px;
    font-weight: 300;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .border-nav {
    border-bottom: none !important;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/*end media max-width*/
